body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}

form input{
  height: 40px;
    flex-basis: 80%;
  border-radius: 60px;

}

form button {
  flex-basis: 20%;
  padding: 10px 20px;
  background-color: #8b4caf;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0px auto;
}

form button:hover {
  background-color: #45a0a0;
  /* transform: translateY(-2px); */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
 
}

form button:focus {
  outline: none;
  border: 2px solid #a00cf5;
}

.outerDiv{
  width: 1170px;
  margin: auto;
}
.outerDiv ul{
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
  list-style-type: none;
}
.outerDiv ul li{
  color: white;
  background-color: black;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  position: relative;
  font-size: 25px;
  border-radius: 5px;
}
.outerDiv ul li span{
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.completetodo{
  text-decoration: line-through;
  color: red;
  background-color: rgb(25, 63, 216) !important;
}